
@font-face
{
    font-family: 'calm';
    src: url('./fonts/OkayJelly.otf');
    font-style: normal;
    font-weight: normal;
}
@font-face
{
    font-family: 'calm1';
    src: url('./fonts/Idealy.otf');
    font-weight: normal;
}


/* 
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg) ;
        opacity: 1;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg) ;
        opacity: 0;
    }
} */

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background:linear-gradient(135deg,rgb(241, 43, 165),rgb(40, 126, 207)) ;
    background: rgb(233, 155, 210);

    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius:55% 45% 38% 62% / 44% 36% 64% 56% ;
    animation: animate 20s linear infinite;
}




.background li:nth-child(0) {
    left: 52%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 21%;
    width: 217px;
    height: 217px;
    bottom: -217px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 50%;
    width: 204px;
    height: 204px;
    bottom: -204px;
    animation-delay: 7s;
}
.background li:nth-child(3) {
    left: 60%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 2s;
}
.background li:nth-child(4) {
    left: 74%;
    width: 243px;
    height: 243px;
    bottom: -243px;
    animation-delay: 13s;
}
.background li:nth-child(5) {
    left: 42%;
    width: 177px;
    height: 177px;
    bottom: -177px;
    animation-delay: 3s;
}
.background li:nth-child(6) {
    left: 52%;
    width: 191px;
    height: 191px;
    bottom: -191px;
    animation-delay: 19s;
}
.background li:nth-child(7) {
    left: 59%;
    width: 286px;
    height: 286px;
    bottom: -286px;
    animation-delay: 20s;
}
.background li:nth-child(8) {
    left: 42%;
    width: 285px;
    height: 285px;
    bottom: -285px;
    animation-delay: 12s;
}
.background li:nth-child(9) {
    left: 18%;
    width: 236px;
    height: 236px;
    bottom: -236px;
    animation-delay: 31s;
}
.background li:nth-child(10) {
    left: 35%;
    width: 290px;
    height: 290px;
    bottom: -290px;
    animation-delay: 32s;
}
.background li:nth-child(11) {
    left: 32%;
    width: 278px;
    height: 278px;
    bottom: -278px;
    animation-delay: 15s;
}
.background li:nth-child(12) {
    left: 63%;
    width: 163px;
    height: 163px;
    bottom: -163px;
    animation-delay: 40s;
}
.background li:nth-child(13) {
    left: 82%;
    width: 270px;
    height: 270px;
    bottom: -270px;
    animation-delay: 13s;
}
.background li:nth-child(14) {
    left: 76%;
    width: 280px;
    height: 280px;
    bottom: -280px;
    animation-delay: 7s;
}
.background li:nth-child(15) {
    left: 3%;
    width: 241px;
    height: 241px;
    bottom: -241px;
    animation-delay: 9s;
}
.background li:nth-child(16) {
    left: 52%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 31s;
}
.background li:nth-child(17) {
    left: 40%;
    width: 256px;
    height: 256px;
    bottom: -256px;
    animation-delay: 38s;
}
.background li:nth-child(18) {
    left: 27%;
    width: 260px;
    height: 260px;
    bottom: -260px;
    animation-delay: 58s;
}
.background li:nth-child(19) {
    left: 76%;
    width: 290px;
    height: 290px;
    bottom: -290px;
    animation-delay: 29s;
}
.background li:nth-child(20) {
    left: 4%;
    width: 257px;
    height: 257px;
    bottom: -257px;
    animation-delay: 77s;
}
#main
{
    height: 29rem;
    width: 69vw;
    border-radius: 2.7rem;
    background:linear-gradient(135deg,rgb(100, 179, 253),rgba(191, 125, 218)) ;
    box-shadow: 0.3rem 0.3rem 0.1rem 0.2rem purple;
    box-shadow: 7px 6px 20px 2px rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#emma
{
    background-image: url("./img/emma.jpeg");
    width: 37rem;
    height: 35rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 2.5rem;
    background-position-y:2rem ;
    position: relative;
    right: 6.2rem;
    border-radius:50%  ;
    z-index: 5;
}

#content
{
    color: azure;
    padding-right: 1rem;
}
#emm
{
    font-size: 4.5rem;
    font-family: 'calm';
}
#emm1
{
    font-size: 2rem;
    font-family: 'calm1';
}

#content button
{
    margin-top: 1rem;
    width: fit-content;
    font-family: 'calm';
    height: fit-content;
    background-color: rgb(206, 59, 243);
    color: azure;
    margin: 1rem;
    font-size: medium;
    padding: 1rem;
    border-radius: 1rem;
}
@keyframes but
{
    0%
    {
        font-size: large;
        transform: scale(1);
    }
    100%
    {
        font-size: medium;
        transform: scale(1.1);
    }
}
#content button:hover
{
transform: scale(1.1) rotateY(20deg);
transition-duration: 0.4s;
transition-timing-function: ease-in-out;
}

